USE [IMPROVEMENT_IDEA]
GO
/****** Object:  Table [dbo].[PROJECT_PLAN]    Script Date: 01/12/2018 16:24:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROJECT_PLAN](
	[IDEA_ID] [char](10) NULL,
	[PLAN_CONTENTS] [nchar](500) NULL,
	[PLAN_DATE] [date] NULL,
	[COMPLETE_YN] [int] NULL,
	[COMPLETE_DATE] [date] NULL,
	[ID] [char](10) NOT NULL,
 CONSTRAINT [PK_TB_PROJECT_PLAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'YYYYMMDD' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PROJECT_PLAN', @level2type=N'COLUMN',@level2name=N'PLAN_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'YYYYMMDDHHmmss' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PROJECT_PLAN', @level2type=N'COLUMN',@level2name=N'COMPLETE_DATE'
GO
/****** Object:  Table [dbo].[PROJECT]    Script Date: 01/12/2018 16:24:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROJECT](
	[IDEA_ID] [char](10) NOT NULL,
	[EMP_ID] [char](6) NULL,
	[IDEA_TITLE] [nchar](100) NULL,
	[PRJECT_GRADE] [char](1) NULL,
	[KPI_NAME] [nchar](200) NULL,
	[KPI_UNIT] [nchar](200) NULL,
	[BACKGROUND] [nchar](500) NULL,
	[NAME] [nchar](30) NULL,
	[INS_DT] [date] NULL,
	[REMARK] [nchar](500) NULL,
	[PRJ_CURR] [nchar](10) NULL,
	[CURR_VALUE] [tinyint] NULL,
 CONSTRAINT [PK_TB_PROJECT] PRIMARY KEY CLUSTERED 
(
	[IDEA_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRJ_REPLY]    Script Date: 01/12/2018 16:24:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRJ_REPLY](
	[IDEA_ID] [char](10) NOT NULL,
	[REP_EMP_ID] [char](6) NULL,
	[REP_EMP_NAME] [nchar](50) NULL,
	[COMMENTS] [nchar](200) NULL,
	[INS_DATE] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'YYYYMMDDHHmmss' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PRJ_REPLY', @level2type=N'COLUMN',@level2name=N'INS_DATE'
GO
INSERT [dbo].[PRJ_REPLY] ([IDEA_ID], [REP_EMP_ID], [REP_EMP_NAME], [COMMENTS], [INS_DATE]) VALUES (N'1801120001', N'050004', N'VU VAN NAM                                        ', N'Ý kiến sáng tạo                                                                                                                                                                                         ', CAST(0x0000A866010BFC95 AS DateTime))
INSERT [dbo].[PRJ_REPLY] ([IDEA_ID], [REP_EMP_ID], [REP_EMP_NAME], [COMMENTS], [INS_DATE]) VALUES (N'1801120001', N'050009', N'DO MANH CUONG                                     ', N'Làm tốt lắm                                                                                                                                                                                             ', CAST(0x0000A866010D8D70 AS DateTime))
/****** Object:  Table [dbo].[PRJ_LIKE]    Script Date: 01/12/2018 16:24:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRJ_LIKE](
	[IDEA_ID] [char](10) NOT NULL,
	[EMP_ID] [char](6) NULL,
	[EMP_NAME] [nchar](50) NULL,
	[INS_DATE] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[PRJ_LIKE] ([IDEA_ID], [EMP_ID], [EMP_NAME], [INS_DATE]) VALUES (N'1801120001', N'050003', N'NGUYEN DUY BAO                                    ', CAST(0x0000A86600FB2EDC AS DateTime))
INSERT [dbo].[PRJ_LIKE] ([IDEA_ID], [EMP_ID], [EMP_NAME], [INS_DATE]) VALUES (N'1801120002', N'050004', N'VU VAN NAM                                        ', CAST(0x0000A866010A546B AS DateTime))
INSERT [dbo].[PRJ_LIKE] ([IDEA_ID], [EMP_ID], [EMP_NAME], [INS_DATE]) VALUES (N'1801120001', N'050009', N'DO MANH CUONG                                     ', CAST(0x0000A866010D8328 AS DateTime))
/****** Object:  Table [dbo].[KPI]    Script Date: 01/12/2018 16:24:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KPI](
	[IDEA_ID] [char](10) NULL,
	[PRJ_MONTH] [char](7) NULL,
	[TARGET_VALUE] [int] NULL,
	[RESULT_VALUE] [int] NULL,
	[ID] [char](10) NOT NULL,
 CONSTRAINT [PK_TB_KPI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[KPI] ([IDEA_ID], [PRJ_MONTH], [TARGET_VALUE], [RESULT_VALUE], [ID]) VALUES (N'1801120001', N'2018-01', 20, 16, N'1801120001')
INSERT [dbo].[KPI] ([IDEA_ID], [PRJ_MONTH], [TARGET_VALUE], [RESULT_VALUE], [ID]) VALUES (N'1801120001', N'2018-02', 54, 60, N'1801120002')
INSERT [dbo].[KPI] ([IDEA_ID], [PRJ_MONTH], [TARGET_VALUE], [RESULT_VALUE], [ID]) VALUES (N'1801120001', N'2018-03', 70, 90, N'1801120003')
/****** Object:  Table [dbo].[IDEA_REPLY]    Script Date: 01/12/2018 16:24:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IDEA_REPLY](
	[IDEA_ID] [char](10) NULL,
	[REP_EMP_ID] [char](6) NULL,
	[COMMENTS] [nchar](200) NULL,
	[INS_DATE] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'YYYYMMDD##0' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IDEA_REPLY', @level2type=N'COLUMN',@level2name=N'IDEA_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'YYYYMMDDHHmmss' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IDEA_REPLY', @level2type=N'COLUMN',@level2name=N'INS_DATE'
GO
INSERT [dbo].[IDEA_REPLY] ([IDEA_ID], [REP_EMP_ID], [COMMENTS], [INS_DATE]) VALUES (N'1801120001', N'050003', N'Hay lắm                                                                                                                                                                                                 ', CAST(0x0000A86600FB1F72 AS DateTime))
INSERT [dbo].[IDEA_REPLY] ([IDEA_ID], [REP_EMP_ID], [COMMENTS], [INS_DATE]) VALUES (N'1801120002', N'050004', N'Ý tưởng rất hay đấy                                                                                                                                                                                     ', CAST(0x0000A866010A5234 AS DateTime))
INSERT [dbo].[IDEA_REPLY] ([IDEA_ID], [REP_EMP_ID], [COMMENTS], [INS_DATE]) VALUES (N'1801120002', N'050009', N'Cố gắng nha                                                                                                                                                                                             ', CAST(0x0000A866010D6012 AS DateTime))
/****** Object:  Table [dbo].[IDEA_LIKE]    Script Date: 01/12/2018 16:24:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IDEA_LIKE](
	[IDEA_ID] [char](10) NOT NULL,
	[EMP_ID] [char](6) NULL,
	[EMP_NAME] [nchar](50) NULL,
	[INS_DATE] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[IDEA_LIKE] ([IDEA_ID], [EMP_ID], [EMP_NAME], [INS_DATE]) VALUES (N'1801120002', N'050004', N'VU VAN NAM                                        ', CAST(0x0000A866010B553E AS DateTime))
INSERT [dbo].[IDEA_LIKE] ([IDEA_ID], [EMP_ID], [EMP_NAME], [INS_DATE]) VALUES (N'1801120002', N'050009', N'DO MANH CUONG                                     ', CAST(0x0000A866010D5F79 AS DateTime))
/****** Object:  Table [dbo].[IDEA]    Script Date: 01/12/2018 16:24:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IDEA](
	[ID] [char](10) NOT NULL,
	[EMP_ID] [char](6) NULL,
	[IDEA_TITLE] [nchar](100) NULL,
	[DETAIL] [nchar](500) NULL,
	[QUANTITATIVE] [nchar](200) NULL,
	[QUALITATIVE] [nchar](200) NULL,
	[DATE] [date] NULL,
 CONSTRAINT [PK_TB_IDEA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'YYYYMMDD##0' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IDEA', @level2type=N'COLUMN',@level2name=N'ID'
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 01/12/2018 16:24:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[EMP_ID] [char](10) NOT NULL,
	[EMP_PW] [nchar](10) NULL,
	[EMP_NAME] [nchar](50) NULL,
	[DIVISION] [nchar](50) NULL,
	[DEPARTMENT] [nchar](50) NULL,
 CONSTRAINT [PK_TB_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[EMP_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[EMPLOYEE] ([EMP_ID], [EMP_PW], [EMP_NAME], [DIVISION], [DEPARTMENT]) VALUES (N'040001    ', N'123       ', N'NGUYEN VAN HUONG                                  ', N'f1                                                ', N'Finishing 1 team                                  ')
INSERT [dbo].[EMPLOYEE] ([EMP_ID], [EMP_PW], [EMP_NAME], [DIVISION], [DEPARTMENT]) VALUES (N'050003    ', N'123       ', N'NGUYEN DUY BAO                                    ', N'f1                                                ', N'Factory #1                                        ')
INSERT [dbo].[EMPLOYEE] ([EMP_ID], [EMP_PW], [EMP_NAME], [DIVISION], [DEPARTMENT]) VALUES (N'050004    ', N'123       ', N'VU VAN NAM                                        ', N'ga                                                ', N'Electric                                          ')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
